body {
  font-family: sans-serif;
  margin: 20px auto;
  width: 900px;
  font-size: 150%;
  line-height: 1.25em;
  background-color: #ddd;
}

a,a:visited {
  color: #d00;
  text-decoration: none;
}

a:hover {
  color: #e00;
}

h2 {
  font-weight: normal;
}

.side {
  float: right;
  margin: 30px;
}

.side ul {
  list-style-type: none;
  text-align: center;
}

img.picture {
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) -1px 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.45) -1px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.45) -1px 1px 4px;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  background-color: #ccc;
  border: 5px solid #fff;
}

.footer {
  font-size: 0.5em;
  text-align: center;
  color: #aaa;
  clear: both;
}

.logo {
  float: right;
  padding: 30px;
  margin: 10px;
  background-color: white;
  border: 1px solid #000;
}