---
layout: default
---

<div class="side">
  <a href="/" title="My girlfriend @valakirka took this picture of me at Jökulsárlón, Iceland. It always reminds me of the first sentence from my favorite book, “Cien años de Soledad”, by Gabriel García Márquez: “Muchos años después, frente al pelotón de fusilamiento, el coronel Aureliano Buendía había de recordar aquella tarde remota en que su padre lo llevó a conocer el hielo.” :)">
    <img src="/images/sergio.png" class="picture">
  </a>
  <ul class="links">
    <li><a href="https://github.com/porras">GitHub</a></li>
    <li><a href="http://twitter.com/porras">Twitter</a></li>
    <li><a href="http://www.linkedin.com/pub/sergio-gil-p%C3%A9rez-de-la-manga/20/a93/ba6">LinkedIn</a></li>
    <li><a href="mailto:sgilperez@gmail.com">Contact</a></li>
  </ul>
</div>

<h1><a href="/">Sergio Gil</a></h1>
<h2>I am a web developer. I live in Berlin.</h2>

{{ content }}